@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #0c0d14 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --primary-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #626a9b -78.47%,
    #12141e 91.61%
  );
  --hover: #0c0d1492;
  --border: #453f9f;
}

.gobank {
  color: #4B0082;
}

.empty-button {
  border: var(--border);
  border-radius: 2.5rem;
}

.hover-button:hover{
  background: linear-gradient(
    157.81deg,
    #a1a1b7 -43.27%,
    #8e99c1 -21.24%,
    #7173ae 12.19%,
    #4e4e94 29.82%,
    #453f9f 51.94%,
    #11134f 90.29%
  );
}

* {
  scroll-behavior: smooth;
}

.text-gradient-indigo {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #a7adff 0.89%,
    #a8aeff 17.23%,
    #989ee9 42.04%,
    #816ae6 55.12%,
    #5d66dd 71.54%,
    #6c5df4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-cyan {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-purple-gradient{
  background: linear-gradient(
    157.81deg,
    #dedefa -43.27%,
    #becaf5 -21.24%,
    #9da0f0 12.19%,
    #7d7deb 29.82%,
    #655ce6 51.94%,
    #3338cf 90.29%
  );
}

.bg-primary-gradient{
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #626a9b -78.47%,
    #12141e 91.61%
);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-cards {
  background: var(--primary-gradient);
  box-shadow: var(--card-shadow);
  border-radius: 2.5rem;
}

.feature-card:hover {
  background: var(--primary-gradient);
  box-shadow: var(--card-shadow);
}

.get-started:hover {
  background: var(--hover);
  z-index: 0;
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--primary-gradient);
}

.blue-gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #344688 100%);
  filter: blur(123px);
}

.pink-gradient {
  background: linear-gradient(90deg, #e0c4f4 0%, #5d58ff 100%);
  filter: blur(900px);
}

.white-gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.client:hover {
  color: #0c0d14;
}